<nav class="navbar navbar-expand-lg navbar-dark bg-black p-0">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="container d-flex justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <p [routerLink]="''">HOME</p>
                    </li>
                    <li class="nav-item">
                        <p *ngIf="this.tokenService.isLogged() === false" data-bs-toggle="modal"
                            data-bs-target="#loginModal">
                            STARSHIPS
                        </p>
                        <p *ngIf="this.tokenService.isLogged()"><a (click)="gotoShips()">STARSHIPS</a></p>
                    </li>
                    <li class="nav-item">
                        <!-- <a *ngIf="this.tokenService.isLogged(); else noBlankSeries" href="#series" style="text-decoration: none;" target="_blank"><p>SERIES</p></a>
                        <ng-template #noBlankSeries> -->
                        <a href="#series" style="text-decoration: none;">
                            <p>SERIES</p>
                        </a>
                        <!-- </ng-template> -->
                    </li>
                    <li class="nav-item">
                        <!-- <a *ngIf="this.tokenService.isLogged(); else noBlankFilms" href="#films" style="text-decoration: none;" target="_blank"><p>FILMS</p></a>
                        <ng-template #noBlankFilms> -->
                        <a href="#films" style="text-decoration: none;">
                            <p>FILMS</p>
                        </a>
                        <!-- </ng-template> -->
                    </li>
                    <p></p>
                </ul>
            </div>
        </div>
    </div>
</nav>