<div class="container-fluid">
    <div style="color: black;">
        ########################
    </div>
    <div class="logo">
        <a routerLink="" style="cursor: pointer;"><img src="../../../assets/star-wars-logo.png" alt=""></a>
        <!-- <img [src]='this.src' alt=""> -->
        <!-- <img src="../../../assets/logo-starwars-mobil.jpg" alt=""> -->
    </div>
    <div class="notLogged p-3" *ngIf="this.tokenService.isLogged() == false; else logged">
        <a data-bs-toggle="modal" data-bs-target="#loginModal">LOG IN &nbsp; // &nbsp;</a>
        <a data-bs-toggle="modal" data-bs-target="#signUpModal">SIGN UP</a>
    </div>
    <ng-template #logged>
        <div class="logged p-3" *ngIf="this.tokenService.isLogged()">
            <a style="text-decoration: none; color: darkgray; cursor: auto;">{{ this.tokenService.getUsername() }} &nbsp; // &nbsp;</a>
            <a href="#star-wars-episode" (click)="onLogout()">LOG OUT</a>
        </div>
    </ng-template>
</div>

<app-navigation-bar></app-navigation-bar>

<!-- Calling login form (inside a modal with id: loginModal) when pressing LOGIN button -->
<app-login-form></app-login-form>

<!-- Calling sign up form (inside a modal with id: signUpModal) when pressing SIGN UP button -->
<app-sign-up-form></app-sign-up-form>

<!-- <app-email-password></app-email-password> -->