.container-fluid {
    display: flex; 
    justify-content: space-around;
    align-self: center;
    background-color: black;
}

.logo {
    padding: 10px;
    /* background-image: url(src/assets/star-wars-logo.png); */
    /* background-image: url(src/assets/logo-starwars-mobil.jpg); */
    /* width: 230px; */
    /* height: 100px; */
    /* background-size: cover; */
    /* margin: 12px auto */
   
}

.notLogged {
    min-width: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.notLogged>a {
    color: darkgray;
    /* margin-top: 70px; */
    cursor: pointer;
    font-weight: bold;
}

.notLogged>a:hover {
    color: white;
}

.logged {
    min-width: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logged>a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: darkgray;
    /* margin-top: 70px; */
    font-weight: bold;
    text-decoration: none;
}

.logged>a:hover {
    color: white;
}

@media screen and (max-width: 767px) {

    .logoStarWars {
        background-image: url(src/assets/logo-starwars-mobil.jpg);
    }
    .logo {
        display: flex;
        justify-content: center;
        
    }
    .container-fluid {
        flex-direction: column;
        justify-content: center;
    }

    .notLogged {
        justify-content: center;
    }

    .logged {
        justify-content: center;
    }
}