<div class="container d-flex justify-content-center mt-5">
    <div class="card">
        <div class="card-header">
           <h3>Cambiar contraseña</h3>
        </div>
        <div class="card-body">
            <form #form="ngForm" (ngSubmit)="onResetPassword()" novalidate>
                <div class="form-group">
                    <label for="newPassword">Contraseña</label>
                    <input type="password" name="newPassword" id="newPassword" class="form-control"
                        [(ngModel)]="newPassword" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirmar Contraseña</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                        [(ngModel)]="confirmPassword" required>
                </div>        
                <div class="form-group">
                    <button class="btn btn-outline-primary btn-block" [disabled]="!form.valid" type="submit">
                        <i class="fas fa-sign-in-alt"></i> Reestablecer contraseña</button>
                </div>
            </form>
            <!-- <div *ngIf="form.submitted" class="alert alert-danger">Error en el login: {{ this.errorMsj }}</div> -->
        </div>
    </div>
</div>

