<div class="container-fluid bg-black">
    <div class="row w-100">
        <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
        <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 p-2">
            <div class="logoStarWars"></div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
    </div>
</div>


<div class="container d-flex justify-content-center mt-5">
    <div class="card" style=" background-color: #181818;">
        <div class="card-header" style="border: none;">
            <h3 class="text-center" style="color: white;">Reset password</h3>
        </div>
        <div class="card-body">
            <!-- logo star wars -->
            <div class="mb-4" style="text-align: center;">
                <img src="../../../assets/star-wars_disney-logo-removebg-preview.png" alt="" height="70%" width="70%">
            </div>
            <div class="text-center title mb-3" style="color: #edd700;">Changing password for ...</div>
            <form #form="ngForm" (ngSubmit)="onResetPassword()" novalidate>
                <div class="form-group">
                    <label for="newPassword" style="color: #edd700;">Password</label>
                    <input type="password" name="newPassword" id="newPassword" class="form-control"
                        [(ngModel)]="newPassword" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" style="color: #edd700;">Confirm password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                        [(ngModel)]="confirmPassword" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-primary btn-block" [disabled]="!form.valid" type="submit">
                        <i class="fas fa-sign-in-alt"></i> Reset password</button>
                </div>
            </form>
        </div>
    </div>
</div>