<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- modal header-->
            <div class="modal-header d-flex justify-content-end p-0" style="border: none;">
                <button type="button" class="button-close" #closebutton data-bs-dismiss="modal" (click)="onClose()">X</button>
            </div>
            <!-- modal body -->
            <div class="modal-body">

                <!-- logo star wars -->
                <div class="mb-4" style="text-align: center;">
                    <img src="../../../assets/star-wars_disney-logo-removebg-preview.png" alt="" height="70%" width="70%">
                </div>

                <div class="text-center title mb-3">CREATE YOUR ACCOUNT</div>

                <!-- SIGN UP FORM -->
                <form [formGroup]="this.signUpForm" (ngSubmit)="onSubmit()">

                    <!-- name input -->
                    <div class="container-fluid d-flex justify-content-center">
                        <div class="form-group mb-4 row col-12">
                            <input type="name" class="form-control" id="nameInput" formControlName="name"
                                placeholder="Name">
                        </div>
                    </div>

                    <!-- Required alert message -->
                    <div class="container-fluid d-flex justify-content-center">
                        <div *ngIf="this.signUpForm.get('name')?.touched && this.signUpForm.get('name')?.errors?.['required']"
                            class="alert alert-danger row col-12 p-2">
                            Please enter your first name.
                        </div>
                    </div>

                    <!-- surname input -->
                    <div class="container-fluid d-flex justify-content-center">
                        <div class="form-group mb-4 row col-12">
                            <input type="surname" class="form-control" id="surnameInput" formControlName="surname"
                                placeholder="Surname">
                        </div>
                    </div>

                     <!-- Required alert message -->
                     <div class="container-fluid d-flex justify-content-center">
                        <div *ngIf="this.signUpForm.get('surname')?.touched && this.signUpForm.get('surname')?.errors?.['required']"
                            class="alert alert-danger row col-12 p-2">
                            Please enter your last name.
                        </div>
                    </div>

                    <!-- email input -->
                    <div class="container-fluid d-flex justify-content-center">
                        <div class="form-group mb-4 row col-12">
                            <input type="email" class="form-control" id="emailInput" formControlName="email"
                                placeholder="email address">
                        </div>
                    </div>

                    <!-- Invalid email alert message -->
                    <div class="container-fluid d-flex justify-content-center">
                        <div *ngIf="this.signUpForm.get('email')?.touched && this.signUpForm.get('email')?.errors?.['email']"
                            class="alert alert-danger row col-12 p-2 text-center">
                            Invalid email format.
                        </div>
                    </div>

                    <!-- password input -->
                    <div class="container-fluid d-flex justify-content-center">
                        <div class="form-group mb-4 row col-12">
                            <input type="password" class="form-control" id="passwordInput" placeholder="password"
                                formControlName="password">
                        </div>
                    </div>

                    <!-- Required alert message -->
                    <div class="container-fluid d-flex justify-content-center">
                        <div *ngIf="this.signUpForm.get('password')?.touched && this.signUpForm.get('password')?.errors?.['required']"
                            class="alert alert-danger row col-12 p-2">
                            This field is required.
                        </div>
                    </div>

                    <!-- submit button -->
                    <div class="container-fluid d-flex justify-content-center mb-4">
                        <div class="form-group row col-12">
                            <input type="submit" class="btn btn-dark" value="Create account"
                                [disabled]="this.signUpForm.invalid">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
