.modal-content {
    background-color: #181818;
}

.button-close {
    background-color: transparent;
    color: rgba(128, 128, 128, 0.31);
    font-size: 40px;
    border: none;
}

.button-close:hover {
    color: rgb(204, 202, 202);
}

.title {
    color: #edd700;
    font-size: 130%;
}

