.card-body {
    border-top: 1px solid rgb(249, 76, 105);
}

h3 {
    font-family: "sans-serif";
    /* font-size: 50px; */
    color: #edd700;
}

.container {
    width: 900px;
}

@media screen and (max-width:720px) {    
    .container {
        width: 650px;
    }
}