.card-body {
    border-top: 1px solid rgb(249, 76, 105);
    background-color: #181818;
}

h3 {
    font-family: "sans-serif";
    color: #edd700;
}

.container {
    width: 900px;
}

@media screen and (max-width:720px) {    
    .container {
        width: 650px;
    }
}