<!-- img onerror => https://gist.github.com/dprea/1cd27241db661818e509  -->
<div style="position: fixed;width: 100%;height: auto;top: 0;">
    <app-header></app-header>
</div>

<!-- <div class="container" style="padding: 50; background-color: black; margin-top: 200px;">
    <h3 class="text-center">STARSHIP</h3>
    <div>
        <img [src]="this.img" class="card-img-top" onerror="this.src='../../../assets/default-img.jpg'"
            alt="starship-photo">
    </div>
    <div class="card-body p-2">
        <div class="row mt-2">
            <h3 class="col-12 card-title mx-2">{{ this.starship.name }}</h3>
        </div>
        <div class="row">
            <p class="col-12" style="text-align: center; color: gray;">Description</p>
        </div>
        <div class="row">
            <div class="col-6 d-flex align-items-baseline">
                <p class="mx-2" style="color: white;">Model:</p>
                <p class="card-text" style="color: grey;">{{ starship.model }}</p>
            </div>
            <div class="col-6 d-flex align-items-baseline">
                <p class="mx-2" style="color: white;">Manufacturer:</p>
                <p class="card-text" style="color: grey;">{{ starship.manufacturer }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 d-flex align-items-baseline">
                <p class="mx-2" class="mx-2" style="color: white;">Cost:</p>
                <p class="card-text" style="color: grey;">{{ starship.cost_in_credits }}</p>
            </div>
            <div class="col-6 d-flex align-items-baseline">
                <p class="mx-2" style="color: white;">Length:</p>
                <p class="card-text" style="color: grey;">{{ starship.length }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 d-flex align-items-baseline">
                <p class="mx-2" style="color: white;">Speed:</p>
                <p class="card-text" style="color: grey;">{{ starship.max_atmosphering_speed }}</p>
            </div>
            <div class="col-6 d-flex align-items-baseline">
                <p class="mx-2" style="color: white;">Crew:</p>
                <p class="card-text" style="color: grey;">{{ starship.crew }}</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <a class="btn bg-outline-dark my-3" style="color: #edd700;" (click)="gotoStarships()"><i
                    class="fa-solid fa-backward"></i>
                Back</a>
        </div>
    </div>
</div> -->

<section class="pt-5" style="margin-top: 200px;">
    <h3 class="text-center mb-2">STARSHIP</h3>

    <div class="container px-4 px-lg-5">

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-5">

                <div class="card h-100" style="z-index: -1;">

                    <img [src]="this.img" class="card-img-top"
                        onerror="this.src='../../../assets/default-img.jpg'" alt="starship-photo">
                    
                    <div class="card-body p-4">

                        <h3 class="card-title">{{ this.starship.name }}</h3>
                        <div class="container-fluid mb-2 p-0">
                            <div class="row">
                                <div class="col-6">
                                    <p class="card-text">Model: <span>{{ starship.model }}</span></p>
                                    <p class="card-text">Manufacturer: <span>{{ starship.manufacturer }}</span></p>
                                    <p class="card-text">Cost: <span>{{ starship.cost_in_credits }}</span></p>
                                   
                                </div>
                                <div class="col-6">
                                    <p class="card-text">Length: <span>{{ starship.length }}</span></p>
                                    <p class="card-text">Speed: <span>{{ starship.max_atmosphering_speed }}</span></p>
                                    <p class="card-text">Creww: <span>{{ starship.crew }}</span></p>
                                   
                                </div>
                            </div>
                        </div>

                    </div>                 
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mb-5">
            <a class="btn bg-outline-dark" style="color: #edd700;" (click)="gotoStarships()">
                <i class="fa-solid fa-backward"></i> Back
            </a>
        </div>
    </div>
</section>

<app-pilot-detail></app-pilot-detail>