<!-- <div style="position: fixed;width: 100%;height: auto;top: 0;"> -->
<app-header></app-header>
<!-- </div> -->

<div class="container-fluid p-3 d-flex justify-content-center">
    <a class="disney-link"
        href="https://www.disneyplus.com/es-es/brand/star-wars?cid=DTCI-Synergy-StarWars-Site-Acquisition-Library-US-StarWars-NA-EN-NavPipe-StarWars_NavPipe_StarWarsStreamingAnytimeonDisneyPlus_Evergreen-NA"
        target="_blank">ALL OF YOUR STAR WARS FAVORITES NOW STREAMING ON DISNEY+
    </a>
</div>

<app-slider-films></app-slider-films>

<body>
    <main class="star-wars">
        <h2>Episode IV</h2>
        <p>
            It is a period of civil wars in the galaxy. A brave alliance of underground freedom fighters has challenged
            the
            tyranny and oppression of the awesome GALACTIC EMPIRE.
        </p>
        <p>
            Striking from a fortress hidden among the billion stars of the galaxy, rebel spaceships have won their first
            victory in a battle with the powerful Imperial Starfleet. The EMPIRE fears that another defeat could bring a
            thousand more solar systems into the rebellion, and Imperial control over the galaxy would be lost forever.
        </p>
        <p>
            To crush the rebellion once and for all, the EMPIRE is constructing a sinister new battle station. Powerful
            enough to destroy an entire planet, its completion spells certain doom for the champions of freedom.
        </p>
    </main>
</body>

<app-slider-films id="series"></app-slider-films>