<ngb-carousel *ngIf="true">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="d-block w-100" src="../../../assets/sw-tales-from-galaxy-s-edge-enhanced-new-swcom-slide-de_9779cc92.jpeg"
                alt="Random first slide">
        </div>
        <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="d-block w-100" src="../../../assets/mando-s3-teaser-trailer-desktop_12b0cab4.jpeg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="d-block w-100" src="../../../assets/andor-special-look-hero-desktop_09df315d.jpeg" alt="Random third slide">
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
</ngb-carousel>