<!-- 
<div class="container d-flex justify-content-center mt-5" style="width: 400px;">
  <div class="card">
    <div class="card-header">
      <h3>¿Olvidaste la contraseña?</h3>
      <p class="text-center">
        Introduce la dirección de correo electrónico que usas en <strong>davidmuns</strong>. Te enviaremos un enlace
        para
        restablecer tu contraseña.
      </p>
    </div>
    <div class="card-body">
      <form #form="ngForm" (ngSubmit)="onSendEmail()" novalidate>
        <div class="form-group">
          <label for="emailONombreUsuario">Correo electrónico o nombre usuario</label>
          <input type="text" name="emailONombreUsuario" id="emailONombreUsuario" class="form-control"
            [(ngModel)]="emailONombreUsuario" required>
        </div>
        <div class="form-group">
          <button class="btn btn-outline-primary btn-block" [disabled]="!form.valid" type="submit">
            <i class="fas fa-sign-in-alt"></i> Reestablecer contraseña</button>
        </div>
      </form>
     
    </div>
  </div>
</div> -->

<!-- <div *ngIf="form.submitted" class="alert alert-danger">Error en el login: {{ this.errorMsj }}</div> -->

<div class="modal fade" id="emailPasswordModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- modal header-->
            <div class="modal-header d-flex justify-content-end p-0" style="border: none;">
                <button type="button" class="button-close" #closebutton data-bs-dismiss="modal" (click)="onClose()">X</button>
            </div>
            <!-- modal body -->
            <div class="modal-body">

                <!-- logo star wars -->
                <div class="mb-4" style="text-align: center;">
                    <img src="../../../assets/star-wars_disney-logo-removebg-preview.png" alt="" height="70%"
                        width="70%">
                </div>

                <div class="text-center title mb-3">FORGOT YOUR PASSWORD?
                    <p style="color: gray; font-size: 15px">Please enter the email address you use for davidmuns. We
                        will send you a link to reset your password.</p>
                </div>

                <!-- SIGN UP FORM -->
                <form [formGroup]="this.passwordEmailForm" (ngSubmit)="onSubmit()">
                    <!-- email -->
                    <div class="container-fluid d-flex justify-content-center">
                        <div class="form-group mb-4 row col-12">
                            <input type="email" class="form-control" id="emailPasswordInput" formControlName="emailTo"
                                placeholder="email address">
                        </div>
                    </div>
                     <!-- Invalid email alert message -->
                     <div class="container-fluid d-flex justify-content-center">
                        <div *ngIf="this.passwordEmailForm.get('email')?.touched && this.passwordEmailForm.get('email')?.errors?.['email']"
                            class="alert alert-danger row col-12 p-2 text-center">
                            Invalid email format.
                        </div>
                    </div>
                    <!-- submit button -->
                    <div class="container-fluid d-flex justify-content-center mb-3">
                        <div class="form-group row col-12">
                            <input type="submit" class="btn btn-dark" value="Reset password"
                                [disabled]="this.passwordEmailForm.invalid">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>