<div class="container">
    <div class="row">
        <div class="col-3" *ngFor="let pilot of this.pilots">
            <p style="color: yellow;">Name: {{ pilot.name }} </p>
            <p style="color: yellow;">Height: {{ pilot.height }} </p>
            <p style="color: yellow;">Mass: {{ pilot.mass }} </p>
            <p style="color: yellow;">Hair color: {{ pilot.hair_color }} </p>
            <p style="color: yellow;">Skin color: {{ pilot.skin_color }} </p>
            <p style="color: yellow;">Eye color: {{ pilot.eye_color }} </p>
            <p style="color: yellow;">Date of birth: {{ pilot.birth_year }} </p>
            <p style="color: yellow;">Gender: {{ pilot.gender }} </p>
            <p style="color: yellow;">URL: {{ pilot.url }} </p>
        </div>
    </div>

</div>