h3 {
    font-family: "sans-serif";
    color: #edd700;
}

.card {
    background-color: #181818;
}

.card-body {
    border-top: 3px solid rgb(249, 76, 105);
    /* border-left: 1px solid rgb(118, 116, 116);
    border-right: 1px solid rgb(118, 116, 116);
    border-bottom: 1px solid rgb(118, 116, 116); */
}

.button-back {
    margin-bottom: 50px;
}


p {
    color: white;
}

span {
    color: gray;
}

@media screen and (max-width: 768px) {
    .button-back {
        margin-bottom: 100px;
    }
}
