<ngb-carousel *ngIf="true" class="mb-5">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="d-block w-100" src="../../../assets/andor-disneyplus-hero-slider-mobile-intl_b74453cb.jpg"
                alt="Random first slide" height="auto">
        </div>
        <div class="carousel-caption">
            <!-- <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="d-block w-100" src="../../../assets/owk-ajr-hero-slim-mobile_7cc765ae_590b3fc8.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
            <!-- <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="d-block w-100" src="../../../assets/lego-star-wars-summer-vacation-slimhero-disneyplus-mobi_44ee5b1a.jpg" alt="Random third slide">
        </div>
        <div class="carousel-caption">
            <!-- <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
        </div>
    </ng-template>
</ngb-carousel>
