.starship-container {
    background-color: #181818;
}

.starship-container:hover {
    border: 1px solid #edd700;
    cursor: pointer;
    border-radius: 15px;
}

p {
    font-family: "sans-serif";
    font-size: 20px;
}

button {
    color: #edd700;
}

.main-container {
    margin-top: 200px;
}

@media screen and (max-width: 768px) {
    .main-container {
        margin-top: 300px;
    }
}