<div style="position: fixed;width: 100%;height: auto;top: 0;">
    <app-header></app-header>
</div>
<!-- starship list -->
<div class="container mb-5" style="margin-top: 200px">

    <!-- buttons forward and backward -->
    <div class="container d-flex justify-content-center">
        <button class="btn bg-outline-dark" type="button" (click)="goPrevious()"
            [disabled]="this.isPreviousBtnDisabled"><i class="fa-solid fa-backward"></i> Previous</button>
        &nbsp;&nbsp;
        <button class="btn bg-outline-dark" type="button" (click)="goNext()"
            [disabled]="this.isNextBtnDisabled">Next <i class="fa-solid fa-forward"></i></button>
    </div>

    <!-- starship list -->
    <div class="row mb-3" *ngFor="let starship of starships">
        <div class="col-1"></div>
        <div class="col-10 starship-container mt-4 p-3" style="color: gray; border-radius: 15px;">
            <a (click)="getStarshipById(starship.url)">
                <p>{{ starship.name | uppercase }}</p>
                <p>{{ starship.model }}</p>
            </a>
        </div>
        <div class="col-1"></div>
    </div>

    <!-- buttons forward and backward -->
    <div class="container d-flex justify-content-center">
        <button class="btn bg-outline-dark" type="button" (click)="goPrevious()"
            [disabled]="this.isPreviousBtnDisabled"><i class="fa-solid fa-backward"></i> Previous</button>
        &nbsp;&nbsp;
        <button class="btn bg-outline-dark" type="button" (click)="goNext()"
            [disabled]="this.isNextBtnDisabled">Next <i class="fa-solid fa-forward"></i></button>
    </div>
</div>