<ul class="flex-row flex-align-items-baseline">

    <li>
        <a href="{{ links[0] }}" target="_blank">

            <i class="bi bi-facebook fc-silver-off fs-social-meta mx-5"></i>
        </a>
    </li>
    <li>
        <a href="{{ links[1] }}" target="_blank">

            <i class="bi bi-instagram fc-silver-off fs-social-meta mx-5"></i>
        </a>
    </li>
    <li>
        <a href="{{ links[2] }}" target="_blank">

            <i class="bi bi-twitter fc-silver-off fs-social-twitter m-5"></i>
        </a>
    </li>
    <li>
        <a href="{{ links[3] }}" target="_blank">

            <i class="bi bi-youtube fc-silver-off fs-social-youtube mx-5"></i>
        </a>
    </li>
    
</ul>
