/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(assets/stars-background.jpg);
    /* background-image: url(assets/stars_galaxies.jpg); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    overflow-x: hidden;
}